@font-face {
    font-family: 'DINdong';
    src: url('fonts/DINdong.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Montserrat';
    src: url('fonts/montserrat-medium-webfont.woff') format('woff'),
    url('fonts/montserrat-medium-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

/* Fixes the initial browser’s style */
* {
    margin: 0;
    padding: 0;
}

div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 400;
}

/**
 * Firefox specific rule
 */

@-moz-document url-prefix() {
  body {
    font-weight: lighter !important;
  }
}


body {
    font-family: "Montserrat";
    font-size: 22px;
    padding: 40px;
}
a, a:link, a:visited, a:hover {
    color: mediumblue;
    text-decoration: none;
    border-bottom: 2px solid mediumblue;
}
a:focus {
    background-color: yellow;
    color: mediumblue !important;
}
h2 {
    margin-top: 40px;
    line-height: 1.4em;
}
h3 {
    margin-top: 20px;
    line-height: 1.4em;
}
p {
    line-height: 1.8em;
}
img {
    margin-top: 40px;
}
figcaption {
    margin-top: 20px;
    line-height: 1.4em;
}
.negatif {
    color: white;
    background-color: #2945db;
}
.negatif img {
    -webkit-filter: invert(1);
   filter: invert(1);
}
.negatif a {
    color: white;
    border-bottom: 2px solid white;
}
.surprise {
    font-size: 60px;
    padding: 40px;
    border-radius: 20px;
    border: 4px solid black;
    text-align: center;
}
button {
    margin-top: 20px;
    padding: 10px;
    border-radius: 20px;
    border: 0;
    font-size: 0.8em;
    font-family: "Montserrat";
    background-color: #2945db;
    color: white;
}
.outils {
    font-family: "Montserrat";
    margin-bottom: 50px;
}
.outil {
    display: inline-block;
    vertical-align: top;
    margin-right: 50px;
    width: 400px;
}
.texte-a-changer {
    margin-top: 20px;
    padding: 15px;
    width: 600px;
    height: 500px;
    border: 2px solid black;
    resize: both;
    overflow: hidden;
    line-height: 1.4em;
}

/* RESPONSIVE */

/* ÉCRAN SEULEMENT */
@media screen {
    .print-only {
        display: none;
    }
}


/* ÉCRAN (VALEURS MAXIMUM) */
@media screen and (max-width: 1400px) {

}
@media screen and (max-width: 1100px) {

}
@media screen and (max-width: 850px) {
    body {
        background-color: #bac5ff;
        padding: 15px;
    }
    img {
        max-width: 100%;
    }
    .outil {
        width: 100%;
        margin-top: 20px;
    }
    .texte-a-changer {
        margin-top: 0;
        padding: 0;
        width: 100%;
        height: auto;
        border: 0;
        resize: none;
        overflow: auto;
        line-height: 1.8em;
    }
}

/* IMPRESSION */

@media print {
    .screen-only {
        display: none;
    }
    button {
        display: none;
    }
    body {
        font-family: "DINdong";
    }
}

@page {
    size: 210mm 297mm;
    margin: none;
}
